services:
  app:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    ports:
      - "${SCOUT_API_PORT:-8080}:${SCOUT_API_PORT:-8080}"
    environment:
      - SCOUT_LLM_PROVIDER=ollama
      - SCOUT_LLM_BASE_URL=http://host.docker.internal:11434/v1
      - SCOUT_OBSERVABILITY_ENABLE_TRACING=true
      - SCOUT_OBSERVABILITY_OTLP_ENDPOINT=http://jaeger:4317
    volumes:
      - index-data:/data/indexes
    depends_on:
      - jaeger

  jaeger:
    image: jaegertracing/all-in-one:1.54
    ports:
      - "16686:16686"   # Jaeger UI
      - "4317:4317"     # OTLP gRPC
      - "4318:4318"     # OTLP HTTP

volumes:
  index-data:
