apiVersion: v1
kind: Service
metadata:
  name: scout-ai
  labels:
    app: scout-ai
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
  selector:
    app: scout-ai
